<mat-tab-group class="bg-gray-100 p-4 rounded-lg shadow-md">
  <mat-tab label="Attendance">
    <div class="p-4 bg-white rounded-lg shadow">
      <app-admin-panel-attendace></app-admin-panel-attendace>
    </div>
  </mat-tab>
  <mat-tab label="Leave Details">
    <div class="p-4 bg-white rounded-lg shadow">
      <app-admin-panel-leave-details></app-admin-panel-leave-details>
    </div>
  </mat-tab>
  <mat-tab label="Leave Applications">
    <div class="p-4 bg-white rounded-lg shadow">
      <app-admin-panel-leave-applications></app-admin-panel-leave-applications>
    </div>
  </mat-tab>
</mat-tab-group>
